/*
GROUP 4: ARANSA GARCIA, JOSEPH P. PASAOA, KATHY PUMA, AND SERGIO SALAMA
Client APP CSS | Greenlist Registry (a full-stack sustainable material forum app)
*/


* {
  box-sizing: border-box;
}


ul, li {
  list-style: none;
}


.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

strong {
  font-weight: bold;
}

.App {
  text-align: center;
}
